<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/cadastrosalvo">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" required placeholder="Digite seu nome" class="input">

        <label for="email">Sobrenome:</label>
        <input type="text" name="sobrenome" required placeholder="Digite seu sobrenome" class="input">

        <label for="telefone">Telefone</label>
        <input type="text" name="telefone" required placeholder="Digite seu telefone" class="input">

        <label for="nacionalidade">Nacionalidade:</label>
        <input type="text" name="nacionalidade" required placeholder="Digite sua nacionalidade" class="input">

        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" required placeholder="Digite seu CPF" class="input">

        <label for="rg">RG:</label>
        <input type="text" name="rg" required placeholder="Digite seu RG" class="input">

        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" required placeholder="Digite seu endereço" class="input">

        <label for="nome_da_mae">Nome da mãe:</label>
        <input type="text" name="nome_da_mae" required placeholder="Digite o nome da sua mãe" class="input">

        <label for="nome_do_pai">Nome do pai:</label>
        <input type="text" name="nome_do_pai" required placeholder="Digite seu pai" class="input">

    <label for="email">E-mail:</label>
    <input type="email" name="email" required placeholder="Digite seu email" class="input">

    <label for="senha">Senha:</label>
    <input type="password" name="senha" required placeholder="Digite seu senha" class="input">
    
    <button id="botão-enviar" type="submit">Cadastrar</button>
    <a href="/"><button id="botão-enviar" type="button">Voltar</button></a>
</form>
</body>
</html>