<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form method="post" action="/admin/gerenciador">
        <label for="email">E-mail:</label>
        <input type="email" placeholder="Digite seu email aqui" name="email" class="input">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" class="input"  placeholder="Digite sua senha aqui">
        <button type="submit" id="botão-enviar">Logar</button>
        <a href="/"><button id="botão-enviar" type="button">Voltar</button></a>
    </form>
</body>
</html>